<!DOCTYPE html>
<html>
  <head><% include ../partials/template/head.ejs %></head>
  <body>
     <div class="container">
        <main role="main" class="col-1-sm">
            <section class="center">
              <h1>Routes</h1>
              <article>
                  <div>
                      <p>
                        <a href="/drinks">drinks</a>
                      </p>
                      <p>
                        <a href="/presslocal">press local</a>
                      </p>
                      <p>
                        <a href="/pressglobal">press global</a>
                      </p>
                  </div>
              </article>
            </section>
        </main>
      </div>
  </body>
</html>